#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.myinput {
  display: inline;
  margin: auto;
  float: none;
  width: 100% !important;
}
.text-value {
  display: inline;
  margin: auto;
  /* padding: 4px; */
  width: 100% !important;
}

.right_class {
  padding: 2em;
  text-align: right;
  margin: auto;
  float: right;
  display: inline;
}
.read-the-docs {
  color: #fd0505;
}

.done-read-the-docs {
  color: #f8f5f5;
}
